$color : #217BF4 ;
$psizes : 14px ;
$pweight : 500 ;
$pcolor : #656464 ;
@mixin buttons {
            background-color: #F1F7FF;
            border: none;
            border-radius: 12px;
            color: $color;
            padding: 15px 20px; 

}
@mixin pho {
        color: $pcolor;
        font-size: 18px;

}
@mixin topic {
        color: $color;
        font-weight: $pweight;
        font-size: 18px;

}

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
header {
    display: flex;
    padding: 20px 50px;
    justify-content: center;
    gap: 300px;
    align-items: center;
    height: 90px;
    border-bottom: 1px solid $pcolor;
    nav {
        display: flex;
        gap: 35px;
        p {
            font-weight: $pweight;
            font-size: $psizes;
            color: $pcolor;
        }
    }
}
.main1 {
    height: 650px;
    background-color: #EDF5FF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    .dl1 {
        width: 500px;
        display: flex;
        flex-direction: column;
        row-gap: 25px;
       .btnnet {
        color: $color;
        background-color: #E7F1FE;
        border: none;
        border-radius: 10px;
        padding: 10px;
        width: 175px;
       }
       h1 {
        font-size: 55px;
       }
       p {
        color: $pcolor;
        font-size: 18px;
       }
       .btns {
        .btnmore {
            @include buttons ;
            color: white;
            background-color: $color;
            padding: 15px 25px;
        }
        .bntin {
            background-color: #F1F7FF;
            border: 1px solid $color;
            border-radius: 12px;
            color: $color;
            padding: 15px 20px; 
        }
       }
    }
}
.main2 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 200px;
    align-items: center;
    .dl2 {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        .p1 {
            color: $color;
            font-weight: $pweight;
            font-size: 18px;
        }
        h1 {
            width: 400px;
        }
        .p2 {
            @include pho ;
            width: 400px;
        }
        .grup {
            @include pho ; 
            color: black;
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            font-size: 20px;
        }
    }
    .dr2 {
        display: flex;
        gap: 30px;
        align-items: center;
        .pco {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }
    }
}
.main3 {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    gap: 40px;
    .box1 {
        width: 335px;
        height: 334px;
        box-shadow: 0px 0px 10px;
        border-radius: 14px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 25px;
        row-gap: 32px;
        .d1 {
            display: flex;
            align-items: center;
            gap: 10px;
            p {
                font-size: 20px;
                font-weight: 500;
            }
        }
        .d2 {
            display: flex;
            align-items: center;
            gap: 5px;
            p {
                font-size: 14px;
                font-weight: 600;
            }
        }
        .p4 {
            color: #8C8C8C;
            font-size: 17px;
        }
        p {
            color: $color;
        }
}
    .box2 {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        width: 365px;
        p {
            @include topic ;
        }
        .p5 {
            @include pho ;
        }
        button {
            @include buttons ;
            background-color: $color;
            color: white;
            width: 190px;
        }
    }
}
.main4 {
    margin-top: 150px;
    .sar {
        display: flex;
        flex-direction: column;
        row-gap: 7px;
        align-items: center;
        p {
            @include topic ;
        }
        .p6 {
            @include pho;
        }
    }
    .gred {
        display: grid;
        grid-template-columns: repeat(2, 520px);
        grid-template-rows: repeat(3, 180px);
        justify-content: center;
        margin-top: 50px;
        gap: 30px;
        .gred1 {
            box-shadow: 0px 0px 10px gray;
            border-radius: 10px;
            display: flex;
            padding: 40px 25px; 
            gap: 20px;
            
            .member {
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                width: 300px; 
                p {
                    @include pho ;
                }
            }
        }
    }
}
.main5 {
    margin-top: 150px;
    .sar {
        display: flex;
        flex-direction: column;
        row-gap: 7px;
        align-items: center;
        p {
            @include topic ;
        }
        .p6 {
            @include pho;
        }
    }
    .people {
        display: flex;
        margin-top: 50px;
        justify-content: center;
        gap: 35px;
        .poeple1 {
          width: 270px;
          height: 310px;
          box-shadow: 5px 0px 7px gray;
          border-radius: 12px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          row-gap: 25px; 
          p {
            @include pho;
          }
          h1 {
            font-size: 25px;
          }
        }
    }

}